OFFICEDAYS_ADMIN_PASSWORD=
OFFICEDAYS_ADMIN_TIMEZONE=Europe/Bucharest
OFFICEDAYS_ADMIN_COUNTRY_CODE=RO
OFFICEDAYS_ADMIN_COUNTRY_NAME=Romania
OFFICEDAYS_DATA_PATH=./data
OFFICEDAYS_UID=1000
OFFICEDAYS_GID=1000
OFFICEDAYS_REQUIRE_HTTPS_FOR_BEARER=true
