{
  "local": {
    "apiToken": "paste-api-token-here",
    "username": "Admin",
    "password": "paste-password-here",
    "registrationPassword": "choose-registration-password-here"
  },
  "docker": {
    "apiToken": "paste-api-token-here",
    "username": "Admin",
    "password": "paste-password-here",
    "registrationPassword": "choose-registration-password-here"
  }
}
